.body {
}

.navcolor {
  background-color: #9bcafb;
}

.navbarBorder {
  border: 1px solid white;
  border-radius: 3px;
  padding: 5px;
  margin-left: 5px;
  width: 9em;
}

.navbarBorder:hover {
  background-color: white;
}
.navHover:hover {
  color: #72b3f8 !important;
}
