<div>
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <a
          href="https://dinamic-chart.vercel.app/"
          class="card-img-top mx-auto d-block img-fluid rounded"
          src="/assets/dinamic-chart.png"
          ><img
            class="card-img-top mx-auto d-block img-fluid rounded"
            src="/assets/dinamic-chart.png"
        /></a>

        <h2 class="card-title" style="position: relative; margin-top: 10px">
          Dynamic Graph
        </h2>
        <p class="card-text">
          This is a dinamic graph that gets its data from a JSON, it was made in
          Angular and has a lot of cool CSS features.
        </p>
        <a
          href="https://dinamic-chart.vercel.app/"
          class="card-link"
          style="text-decoration: none; font-size: 18px"
          >Link</a
        >
      </div>
      <div class="card-footer">
        <small class="text-muted">TypeScript/HTML/CSS/JSON</small>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <a href="https://advice-generator-ashy.vercel.app/"
          ><img
            class="card-img-top mx-auto d-block img-fluid rounded"
            src="/assets/random-advice.png"
        /></a>

        <h2 class="card-title" style="position: relative; margin-top: 10px">
          Give a Random Advice
        </h2>
        <p class="card-text">
          This project made with Angular connects with an API that gives a
          random advice when the dice is clicked.
        </p>
        <a
          href="https://advice-generator-ashy.vercel.app/"
          class="card-link"
          style="text-decoration: none; font-size: 18px"
          >Link</a
        >
      </div>
      <div class="card-footer">
        <small class="text-muted">TypeScript/HTML/CSS/API</small>
      </div>
    </div>
  </div>
</div>

<div class="col-6">
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <a
          href="https://mentor-rating-hqgp9cu4x-felipe-alencar6.vercel.app/one"
          class="card-img-top mx-auto d-block img-fluid rounded"
          ><img
            class="card-img-top mx-auto d-block img-fluid rounded"
            src="/assets/rating.png"
        /></a>

        <h2 class="card-title" style="position: relative; margin-top: 10px">
          Feedback Window
        </h2>
        <p class="card-text">
          This was one of my first projects using Angular. It is a feedback
          window and uses some basic concepts of Angular, TypeScript and OOP.
        </p>
        <a
          href="https://mentor-rating-hqgp9cu4x-felipe-alencar6.vercel.app/one"
          class="card-link"
          style="text-decoration: none; font-size: 18px"
          >Link</a
        >
      </div>
      <div class="card-footer">
        <small class="text-muted">TypeScript/HTML/CSS</small>
      </div>
    </div>
  </div>
</div>
