<div class="container-sm">
  <div class="row justify-content-md-center">
    <app-navbar></app-navbar>
    <div class="col-10 d-flex flex-column flex-md-row">
      <app-sidebar class="col-12 col-md-3 me-4"></app-sidebar>
      <app-main-page
        *ngIf="showMainPage"
        class="col-12 col-md-6 border"
      ></app-main-page>
      <app-resume *ngIf="showResume" class="col-12 col-md-9"></app-resume>
      <app-resume-ptbr
        *ngIf="showResumePt"
        class="col-12 col-md-9"
      ></app-resume-ptbr>
      <app-portfolio
        *ngIf="showPortfolio"
        class="col-12 col-md-9"
      ></app-portfolio>
    </div>
  </div>
</div>
