<section class="sidebar">
  <div class="list-group">
    <a
      class="list-group-item list-group-item-action active"
      role="button"
      aria-current="true"
      data-bs-toggle="collapse"
      data-bs-target="#aboutWebsite"
    >
      About this website
    </a>
    <div
      class="collapse card"
      id="aboutWebsite"
      style="border-radius: 0px; border: 0px"
    >
      <div class="card-body border">
        <h3 class="card-title">About this website</h3>
        <p class="card-text">
          This website is a study case where I practice <b>Angular</b>,
          <b>TypeScript</b>, <b>Bootstrap</b> and <b>PrimeNG</b>. Here you can
          also find my resume and personal projects.
        </p>
      </div>
    </div>
    <a
      class="list-group-item list-group-item-action"
      role="button"
      aria-current="true"
      data-bs-toggle="collapse"
      data-bs-target="#aboutMe"
      >About me</a
    >
    <div
      class="collapse card"
      id="aboutMe"
      style="border-radius: 0px; border: 0px"
    >
      <div class="card-body border">
        <h3 class="card-title">About me</h3>
        <p class="card-text">
          I am a software Developer that lives in Brazil and is always learning
          something new.
        </p>
      </div>
    </div>

    <a
      class="list-group-item list-group-item-action"
      role="button"
      aria-current="true"
      data-bs-toggle="collapse"
      data-bs-target="#aboutCareer"
      >Career Objectives</a
    >
    <div
      class="collapse card"
      id="aboutCareer"
      style="border-radius: 0px; border: 0px"
    >
      <div class="card-body border">
        <h3 class="card-title">My Objectives</h3>
        <p class="card-text">
          My main objective is to be a Senior Software Developer, mainly working
          with Frontend.
        </p>
      </div>
    </div>
  </div>
</section>
