<div id="body">
  <h3>
    Notifications
    <div id="three">3</div>
  </h3>
  <div class="comment">
    <div class="name">Mark Webber</div>
    <div #view>Hi, my name is Mark and I'm from Brazil, whats up?</div>
  </div>
  <div #commentSpace></div>
  <div #commentSpace2></div>

  <div id="newComment">
    <input #nameInput id="name" type="text" placeholder="Write your name" />
    <br />
    <input
      #commentInput
      id="message"
      placeholder="Write your comment"
      type="text"
    />
    <br /><br />
  </div>
  <br />
  <button (click)="log3()">Comment</button>
  <button (click)="log3()">Answer</button>
  <app-comment></app-comment>
</div>
