body {
  background-color: hsl(210, 60%, 98%);
  font-size: 16px;
  font-weight: 500;
}
#body {
  background-color: white;
  padding: 15px;
  margin: auto;

  max-width: 45em;
  border-radius: 5px;
}

.comment {
  padding: 5px;
  margin: 10px 0px;
  background-color: hsl(211, 68%, 94%);
  border-radius: 5px;
}

.name {
  font-weight: bold;
}
textarea {
  height: auto;

  border: 1px solid #4c627a;
  border-radius: 4px;
  background-color: #e6f0fa;
  resize: none;
  color: black;
}

::placeholder {
  color: #9bcafb;
}

#nameInput {
  max-height: 2em;
}

input {
}

#commentInput {
  height: 5em;
}

img {
  width: 4em;
  height: 4em;
  border-radius: 50%;
}
