<div class="container border rounded p-3">
  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="row">
        <header><h2>Felipe Alencar Giacomini</h2></header>
        <h3 style="position: relative; bottom: 20px">Desenvolvedor Frontend</h3>
      </div>
      <div class="row">
        <header><h2>Perfil</h2></header>
        <p style="position: relative; bottom: 10px">
          Tenho estudado e trabalhado com desenvolvimento de software nos
          ultimos meses. Sou o tipo de pessoa que quando se depara com um
          desafio não descansa até termina-lo. Eu gosto de aprender e tenho
          estudado diariamente nos ultimos anos para me tornar um desenvolvedor.
          Atualmente estou no começo da minha carreira como desenvolvedor de
          software, atuando como Estagiário na Cielo. Eu gosto de codar e adoro
          o desafio que codar proporciona.
        </p>
      </div>
      <div class="row">
        <header><h2>Expriências Profissionais</h2></header>
        <h3>Cielo <small class="text-muted">De 03/2022 - Atualmente</small></h3>
        <p style="position: relative; bottom: 10px">
          Eu tenho trabalho na Cielo desde Março 2022 onde tive a oportunidade
          de trabalhar diretamente com desenvolvimento de software. Tem sido uma
          grande oportunidade para aprender, que era meu objetivo quando entrei
          aqui. Na Cielo eu tenho tido a oportunidade de trabalhar com
          <b>Angular, SQL, Java, TypeScript, HTML, CSS e Git</b>.
        </p>
        <h3>
          Cadastra <small class="text-muted">De 10/2021 até 03/2022</small>
        </h3>
        <p style="position: relative; bottom: 10px">
          Na Cadastra eu tive minha primeira oportunidade de trabalho, onde pude
          atuar como Service Desk, manutenção de computadores, logistica de
          entreta de notebooks e outras atividades.
        </p>
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <div class="row">
        <header><h2>Contact</h2></header>
        <ul
          class="list-group"
          style="position: relative; bottom: 15px; list-style: none; left: 15px"
        >
          <li><b>E-mail:</b> gia.comini@hotmail.com</li>
          <li><b>Tel:</b>(11) 95119-2674</li>
          <li>
            <b>Linkedin: </b
            ><a href="https://www.linkedin.com/in/felipealencar12/"
              >Felipe Alencar</a
            >
          </li>
          <li>
            <b>GitHub: </b
            ><a href="https://github.com/felipe-alencar6"> Projects</a>
          </li>
        </ul>
      </div>
      <div class="row">
        <header><h2>Education</h2></header>
        <div style="position: relative; bottom: 15px">
          <h3>
            Universidade Presbiteriana Mackenzie<br />
            <small class="text-muted"
              >Análise e Desenvolvimento de Sistemas</small
            >
          </h3>
          <small class="text-muted" style="position: relative; bottom: 15px"
            ><b>Graduation in December 2023</b></small
          >
          <h3>
            Universidade Cruzeiro do Sul<br />
            <small class="text-muted">Ciências Econômicas</small>
          </h3>
          <small class="text-muted" style="position: relative; bottom: 15px"
            ><b>Graduated</b></small
          >
        </div>
      </div>
      <div class="row">
        <header><h2>Skills</h2></header>
        <div class="" style="position: relative">
          <ul
            class="list-group"
            style="position: relative; bottom: 15px; list-style: none"
          >
            <li>
              JavaScript/TypeScript
              <div class="progress w-75" style="height: 5px">
                <div class="progress-bar w-50 bg-info" role="progressbar"></div>
              </div>
            </li>
            <li>
              HTML/CSS
              <div class="progress w-75" style="height: 5px">
                <div class="progress-bar w-50 bg-info" role="progressbar"></div>
              </div>
            </li>
            <li>
              Java
              <div class="progress w-75" style="height: 5px">
                <div class="progress-bar w-25 bg-info" role="progressbar"></div>
              </div>
            </li>
            <li>
              SQL
              <div class="progress w-75" style="height: 5px">
                <div class="progress-bar w-25 bg-info" role="progressbar"></div>
              </div>
            </li>
          </ul>
          <div class="row">
            <div class="col">
              <header><h3>Frameworks</h3></header>
              <p style="position: relative; bottom: 15px">
                <b>Angular</b>, Spring basic
              </p>
              <header><h3>Libraries</h3></header>
              <p style="position: relative; bottom: 15px">Bootstrap, PrimeNG</p>
              <header><h3>Idiomas</h3></header>
              <p style="position: relative; bottom: 15px">Inglês fluente</p>
            </div>
            <div class="col">
              <p>
                Tenho me dedicado muito em ser um desenvolvedor, trabalho bem
                com Angular e TypeScript, tenho uma boa noção de Programação
                Orientada a Objetos e lógica de Programação.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
